font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

.full-width{
    width: 1920px;
}
.header-section{
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);

}
.flex-section{
    display: flex;
    justify-content: space-around;
}
.let{
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

}

.it-is-a-long{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    

}
.button{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 20px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}
.header-img{
    width: 635px;
    height: 800px;
    padding: 50px 100px 0 0;
}
.header-flower-img-flex{
    
}
.let-flex{
   padding: 197px 97px 0 180px;
}
